body {
    background-image: url("../Resources/gold.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

/* Member Menu */
nav#member-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav li {
    display:inline !important;
}

nav a {
    display: inline-block !important;
    padding: 10px !important;
}

nav a:hover {
    font-weight: bold;
}

ul.character-info li {
    padding: 10px;
}

section.left {
    width: 50%;
}

/* Welcome page */
section#introduction {
    font-size: 1.5em;
    line-height: 140%;
}

/*Login page */
input {
    font-size: 1.1em;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
}

input, input[type=submit] {
    width: 300px;
    box-sizing: border-box;
}

input[type=submit] {
    background: linear-gradient(#484848, #000);
    color: #FFF;
}

div.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
