body {
    background-image: url("../Resources/gold.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;
}

.container {
    padding: 0 135px;
    margin: 0 160px;
}

#logo {
    margin-top: 10px;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

/* Menu */
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #000;
}

#menu ul {
    margin-top: -5px;
}

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
}

.character-info li {
    padding: 10px;
}

.left {
    width: 500px;
    margin: 100px;
    float: left;
}

.right {
    width: 500px;
    margin: 100px;
    float: left;
}

/* Welcome page */
#introduction p {
    font-size: 1.25em;
    line-height: 140%;
}

/*Login page */
input {
    font-size: 1.1em;
    display: block;
    margin-bottom: 15px;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
}

input {
    width: 250px;
    padding: 10px;
}


input[type=submit] {
    width: 275px;
    background: linear-gradient(#484848, #000);
    color: #FFF;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Select/Create Character */
input[class="smallBtn"] {
    width: 125px;
}

.character {
    width: 250px;
}

/* Manage Points */
input[class="smallTxtbox"] {
    width: 100px;
    padding: 10px;
}