body {
    background-image: url("../Resources/gold.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Play', sans-serif;
}

.container {
    padding: 0 135px;
    margin: 0 160px;
    overflow: hidden;
}

#logo {
    margin-top: 10px;
}

nav li {
    display: inline-block;
    padding-right: 20px;
}

li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
}

/* Menu */
#menu {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    border-bottom: 1px solid #000;
}

    #menu ul {
        margin-top: -5px;
    }

nav li {
    display: inline;
}

nav a {
    display: inline-block;
    padding: 10px;
}

    nav a:hover {
        text-decoration: underline;
    }

.character-info {
    height: 540px;
    padding: 20px;
}

.character-info li {
    width: 220px;
    text-align: center;
    padding: 10px;
}

.left {
    width: 500px;
    margin: 100px;
    float: left;
}

.right {
    width: 500px;
    margin: 100px;
    float: left;
}

/* Welcome page */
#introduction p {
    font-size: 1.25em;
    line-height: 140%;
}

/* Register page */
.auto-style1 {
    margin-left: 26%;
    margin-top: 20px;
}

div#ContentPlaceHolder1_ValidationSummary1 li {
    list-style: disc;
}

.auto-style3 {
    width: 85px !important;
}

.auto-style4 .validatorMessage {
    margin-left: -300px;
}

.auto-style5 {
    width: 300px !important;
}

/*Login page */
.auto-style2 {
    margin-left: 33%;
    margin-top: 20px;
}

input {
    font-size: 1.1em;
    display: block;
    margin-bottom: 5px;
    padding: 5px;
    width: 200px;
    border-radius: 3px;
}

input {
    width: 250px;
    padding: 10px;
}


input[type=submit] {
    width: 275px;
    background: linear-gradient(#484848, #000);
    color: #FFF;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Main Menu page */
span#ContentPlaceHolder1_lblUsername {
    float: right;
}

.my-points-balance {
    float: right;
    margin-top: 75px;
    margin-right: -290px;
    text-align: center;
}

/* Select/Create Character page */
.createCharacter {
    display: block;
    margin: 0 auto;
}

.character {
    width: 250px;
}

/* Manage Points page */
input[class="smallTxtbox"] {
    width: 100px;
    padding: 10px;
}

/* Validator Message */
.validatorMessage {
    padding-bottom: 10px;
}

/* Challenge Character */
input[class="smallBtn"] {
    width: 125px;
    display: block;
    margin: 0 auto;
}

/* Upload Exercise */
td.auto-style7 {
    width: 173px;
}

/* Manage Points */
input[class="txtXP"] {
    width: 125px;
    display: block;
    margin: 0 auto;
}

/* Four Column Layout */
.col-group > div {
    padding: 1em;
}

@media screen and (min-width: 64em) {
    h1 {
        text-align: center;
    }

    .col-group {
        overflow: hidden;
    }

        .col-group > div {
            float: left;
            width: 50%;
        }

            .col-group > div:nth-child(odd) {
                clear: left;
            }
}

@media screen and (min-width: 64em) {
    .col-group > div {
        width: 22%;
    }

        .col-group > div:nth-child(odd) {
            clear: none;
        }
}
